**/*.aux
**/*.auxlock
**/*.bbl
**/*.bcf
**/*-blx.bib
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.loa
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.run.xml
**/*.toc
**/*.unq
**/__latex*
**/Chapters/__latex*

diss.pdf
main.pdf
wortmarke.pdf
tikzpictures

code/data
code/experiments
code/experiments_avg_w
